
  <!--jumbotron-->
<div class="jumbotron">
    <!--<img src="../images/cameraDrone.jpg" alt="camcorder">-->
    <img class="faqImage" src="../images/cameradrone.jpg" width="397" height="386" />
</div>
<div class="faq-wrapper"> 
   
    <div class="container" ng-app="votm" ng-controller="faqCtrl as fctrl">
        <h2>General FAQ</h2>
        <div class="row col-md-6">
            <!--accordion-->
            <div class="panel-group" id="accordion-sample" ng-repeat="x in fctrl.faq | filter: category.general | orderBy: number">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-white">
                            <a onclick="return false"; data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-{{x.number}}" >
                                {{ x.question }}
                            </a>
                        </h4>
                    </div>
                    <div id="accordion-{{x.number}}" class="answer panel-collapse collapse" ng-bind-html="x.answer">
                    </div>
                </div>
            </div>
        </div>
        <!--<div ng-bind-html="myHTML">
        </div>-->
    </div>
    <script src="../../scripts/controllers/faq-controller.js"></script>
</div>