


<!--ui bootstrap carousel-->
<div class="row" ng-controller="kascarouselController as kascarouselCtrl">
        <uib-carousel interval="4000" no-wrap="false">
            <uib-slide ng-repeat="slide in kascarouselCtrl.slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h3>{{slide.text}}</h3>
                </div>
            </uib-slide>
        </uib-carousel>
</div>


    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4 class="text-muted">Overview</h4>
                <p>Vazzt Service enables you, while on the move in a vehicle, in an aircraft, or on foot with a camera connected to a computer&#47laptop&#47netbook to send live video streams and video files to your own website for your viewers to access.</p>
                <p>Vazzt Service is a complete end-to-end solution. Vazzt provides the video encoding, network super pipe, and delivery capability.</p>
            </div>
            <div class="col-sm-3">
                <h4 class="text-muted">Instructions</h4>
                <p>The purpose of this website is to help you use our VOTM product.</p>
                <p>Check out our simple step-by-step list of instructions for how to use Video-On-The Move. After exploring these steps, you will be able to prepare and set-up VOTM and then broadcast your own live video.</p>
            </div>
            <div class="col-sm-3">
                <h4 class="text-muted">FAQ</h4>
                <p>We will answer some of our most frequently asked questions about VOTM</p>
                <p>There are six categories within this section: </p>
                <p>
                    General
                    3G and 4G Networks
                    Equipment Options
                    Using Equipment
                    KenCast Services
                    Miscellaneous
                </p>
            </div>
            <div class="col-sm-3">
                <h4 class="text-muted">Checklist</h4>
                <p>One of the challenges of any venture is knowing what to bring.</p>
                <p>We're providing you with a list of equipment needed for each Vazzt broadcast to make your VAZZT experience even easier. You can use a digital or print out version.</p>
            </div>
        </div>
    </div>
